* { box-sizing: border-box; margin: 0; padding: 0; font-family: Arial, sans-serif; }
body { background-color: #f7f8fa; color: #333; display: flex; flex-direction: column; min-height: 100vh; }
header { background: #fff; padding: 2rem; box-shadow: 0 2px 4px rgba(0,0,0,0.1); text-align: center; }
main { flex: 1; padding: 2rem; }
.content { background: #fff; padding: 2rem; border-radius: 8px; box-shadow: 0 2px 6px rgba(0,0,0,0.05); }
footer { text-align: center; padding: 1rem; font-size: 0.9rem; background: #fafafa; border-top: 1px solid #e0e0e0; }



#event-form.hidden{
    display: none;
}

#event-form:not(.hidden) ~ *{
    filter: blur(5px);
    pointer-events: none;
}

#event-form ~*{
    transition: filter 0.1s;
}

#event-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    gap: 10px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    align-items: center;
    justify-content: center;
    
    background-color: #f7f8fa;
    border: 1px solid gray;
    border-radius: 10px;
}

#event-form h2{
    margin-bottom: 10px;
}

#event-form button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

#event-form .cancel-button{
    background-color: #6c757d;
}

#event-form .save-button{
    background-color: #28a745;
}

#event-form .delete-button{
    background-color: #dc3545;
}

#event-form .delete-button.hidden{
    display: none;
}

#filters{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

#categoryFilter{
    padding: 0.3rem;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
}

#orderBy {
    padding: 0.3rem;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
}

#searchInput{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.dateFilter{
    padding: 0.3rem;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
}

#clearFiltersBttn{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    max-width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#createEventBttn{
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    max-width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.event-card{
    margin: 1rem 0;
    padding: 1.5rem 1rem;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 2px 2px black;
}

.event-category{
    font-size: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
}

.event-title{
    font-size: 2em;
}

.event-actions{
    margin-top: 1rem;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
}

.like-bttn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    max-width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.like-bttn.liked{
    background-color: #28a745;
}

.edit-bttn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    max-width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
.feedback {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: opacity 0.5s ease;
    font-family: Arial, sans-serif;
}

.oculto { display: none; }
.sucesso { background-color: #28a745; }
.erro { background-color: #dc3545; } 